* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

#container {
    max-width: 1080px;
    margin: 0 auto;
}


/* start header */

#header {}

.header-grid-layout {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 1%;
    position: fixed;
    z-index: 2;
    width: 1080px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

ul li {
    font-weight: bold;
}

.imgLogo {}

.nav {
    text-align: center;
}

.nav_mobile {
    display: none;
}

.nav li {
    position: relative;
}

.nav .subnav {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    top: 102%;
    left: -150%;
    width: 400%;
}

.nav li:hover .subnav {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 3px solid #00C6E8;
}

.nav li:hover {
    border-bottom: 3px solid #00C6E8;
}

.nav>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 6px 10px;
    /* margin: auto 8px; */
    line-height: 42px;
}

.nav .subnav li {
    list-style-type: none;
    display: block;
    padding: 6px 14px;
    line-height: 42px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #25282B;
    font-style: normal;
}

nav {
    display: none;
}

.banner {
    margin-bottom: 1%;
    margin: auto;
}

.banner img {
    margin-bottom: 1%;
    width: 100%;
    margin-top: 5%;
}


/* end header  */


/* start header */

#footer {
    margin-top: 20%;
    background-color: #F4F6FA;
}

a {
    text-decoration: none;
    color: black;
}

.contact-grid-layout-content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    margin-right: 0px;
}

.contact-grid-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-grid-layout p {
    margin-bottom: 10%;
}

.bonus {
    /* width: 80%;
    margin: auto 10%; */
}

.bonus p {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.line {
    width: 100%;
    opacity: 20%;
}

.contact-grid-layout-icon1 {
    display: grid;
    grid-template-columns: 11% auto;
}

.contact-grid-layout-icon1 img {
    margin: -3%;
}

.contact {
    padding: 20px 0;
}


/* .contact-grid-layout-icon2 {
    width: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
} */

.contact-grid-layout-content-small {
    display: flex;
    flex-direction: column;
}

.contact-grid-layout-content-small a {
    margin-top: 14px;
}

.contact-grid-layout-content-small p:first-child {
    font-weight: bold;
}


/* Mobile  */

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        margin-left: 95%;
        margin-top: 1%;
    }
    .checkbtn {
        display: block;
    }
    #check {
        display: none;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #fff;
        top: 45px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        transform: translateX(100%);
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 13px;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
    #container {
        max-width: 100%;
    }
    .header-grid-layout {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 1%;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
    }
    .nav {
        display: none;
        margin: 15% auto;
    }
    .info-Router-main h3 {
        margin: 10% auto;
    }
    .contact-grid-layout {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
    }
    .contact-grid-layout-content-1 {
        display: grid;
        grid-template-columns: auto auto;
    }
    #footer {
        margin-top: 100px;
    }
}


/* Tablet  */

@media screen and (min-width: 769px)and (max-width: 1024px) {
    nav {
        display: flex;
        margin-left: 95%;
        margin-top: 1%;
    }
    .checkbtn {
        display: block;
    }
    #check {
        display: none;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: #fff;
        top: 45px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        transform: translateX(100%);
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 13px;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
    #container {
        max-width: 100%;
        text-align: center;
    }
    .header-grid-layout {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 1%;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
    }
    .nav {
        display: none;
    }
    .contact-grid-layout {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .event-main-text {
        padding-top: 2%;
    }
    .event-content-grid-layout {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}